footer{
    background-color: #666;
    text-align: center;
    border-top: 2px solid #4aaaa5;
}


.navbar-default .navbar-brand {
    color: white;
    background-color: #4aaaa5;
}

.col-md-8{
    border:solid 2px black;
}

#github{


}

